Package: com.wiley.trudeau
Name: Trudeau
Depends: mobilesubstrate preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Enhance your Music experience.
Author: rdrnt + xTM3x
Section: Tweaks
