Package: rdrnt
Name: Trudeau
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: rdrnt
Author: rdrnt
Section: Tweaks
Version: 0.0.1-103+debug
Installed-Size: 252
