Package: com.tweakbattles.trudeau
Name: Trudeau
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Enhance your Music experience.
Author: rdrnt & xTM3x
Section: Tweaks
Version: 1.0-12+debug
Installed-Size: 1664
