<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>TRDCustomHeaderView</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.tweakbattles.trudeau</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.tweakbattles.trudeau/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Shows a button in the now playing view to easily look up a song's lyrics.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.tweakbattles.trudeau</string>
			<key>key</key>
			<string>lyricsButton</string>
			<key>label</key>
			<string>Show Lyrics Button</string>
			<key>PostNotification</key>
			<string>com.tweakbattles.trudeau/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Inverts skipping gestures on the miniplayer.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.tweakbattles.trudeau</string>
			<key>label</key>
			<string>Invert Swipe Gestures</string>
			<key>key</key>
			<string>invertGestures</string>
			<key>PostNotification</key>
			<string>com.tweakbattles.trudeau/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>trdCreditsListController</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
